:root {
  --dark-blue: #1F2E53;
  --blue: #2BA7D9;
  --blue-hover: #61c2e9;
  --blue-alpha50: #2ba8d97a;
}

h1 {
  font-weight: 400;
  margin: 3px 0;
}

h3 {
  color: var(--blue);
  margin: 10px 0;
}

.v-data-table {
  overflow: hidden; /* to crop header background with a correct border-radius */
}
.v-data-table thead {
  background: #efefef;
}